---
import Layout from '../layouts/Root.astro';
import Resume from './aboutme.md'
import Links from './components/Links.astro'
import Intro from './components/Intro.astro'
import lightIcon from '../../assets/light-theme.png'
---

<Layout title="PunGy Home Page" withoutHeader>
    <div id="layout">
        <aside>
            <!-- about myself, my picture and links to social --->
            <div id="text-container">
              <img id="myself-photo" src="/images/myself.jpg" alt="My picture" />
              <button id="theme-button">
                <img src={lightIcon.src}/>
              </button>
              <h1>Maksim Iakovlev</h1>
              <h2>
                Senior Software Engineer at Yandex
              </h2>
              <div class="header-buttons">
                <div class="index-links">
                  <a href="/articles">articles</a>
                  <span>&nbsp;|&nbsp;</span>
                  <a href="/projects">projects</a>
                </div>
              </div>
              <Intro />
              <p>
                Email: <strong>max.yakovlev555@gmail.com</strong>
              </p>
              <Links />
            </div>
        </aside>
        <main class="semantic">
            <div class="article block">
                {<Resume/>}
            </div>
        </main>
    </div>
</Layout>

<style>
    #layout {
        display: flex;
        flex-direction: column;
        padding: 0;
        position: relative;
        justify-content: center;
    }
    #text-container {
      justify-content: center;
      text-align: center;
    }
    main {
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        font-size: 1.2rem;
    }
    .article {
        width: 100%;
        text-decoration: none;
        color: var(--primary-fg);
        display: block;
        position: relative;
        max-width: 900px;
        margin: 0 auto;
        padding: 1rem 2rem;
    }
    .article .meta {
      color: var(--shadow-fg);
    }
    .meta-container {
      display: flex;
      justify-content: space-between;
    }

    #myself-photo {
      width: 100%;
      border-radius: var(--radius) var(--radius) 0 0;
    }

    #myself-photo {
      width: 200px;
      margin: 0 auto;
      border-radius: 50%;
    }
    .block, aside {
      box-shadow: none;
    }
    aside {
      margin: 0 auto 1rem auto;
      padding: 0.5rem 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      font-size: 1.3rem;
      border-bottom: 2px solid var(--shadow-bg);
    }

    #theme-button {
      position: absolute;
    }
</style>
