---
import 'normalize.css/normalize.css'

export interface Props {
	title: string;
  withoutHeader?: boolean;
}

const { title, withoutHeader } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon-32x32.png" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
    {withoutHeader ? null : (
      <header>
        <h1 class="logo"><a href="/">Maksim I</a></h1>
      </header>
    )}

		<slot />
	</body>
</html>
<style is:global>
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap');

  :root {
    --root-bg: #242423;
    --primary-bg: #333533;
    --primary-fg: #ffffff;
    --secondary-fg: #e99b57;
    --shadow-fg: #8f8678;
    --shadow-bg: #403e3a;
    --link-fg: #fca311;
    --radius: 0.5rem;

    --info-bg: #0d8294;
    --warning-bg: var(--secondary-fg);

    --code-bg: #24292e;
    --code-fg: var(--secondary-fg);

    --table-cell-bg: var(--primary-bg);
    --table-cell-bg-even: #393a3e;
    --table-header-bg: #586086;
  }
  * {
    box-sizing: border-box;
  }
  .logo {
    font-size: 3rem;
    margin: 0;
  }

  header, footer, aside, article, main:not(.semantic), .block {
    background: var(--primary-bg);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  }

  header {
    padding: 0.5rem 3rem;
    font-size: 1.2rem;
  }

  main {
    padding: 2rem;
    font-size: 1.2rem;
  }

  body {
    background: var(--root-bg);
    margin: 0;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--primary-fg);
  }

  a {
    color: var(--link-fg);
  }
  pre {
    padding: 1rem;
    border-radius: var(--radius);
  }
  code:not(pre code) {
    font-family: 'Roboto Mono', monospace;
    background-color: var(--code-bg);
    padding: 0 3px;
    border-radius: 3px;
    line-height: 1.5rem;
    display: inline-block;
    border: 1px solid #a9a9a9;
    color: var(--code-fg);
  }

  table, th, td {
    border: 1px solid #ddd;
  }

  th, td {
    text-align: left;
    padding: 8px;
  }

  tr {
    background-color: var(--table-cell-bg);
  }
  tr:nth-child(even) {
    background-color: var(--table-cell-bg-even);
  }

  tr:hover {
    background-color: var(--table-cell-bg-even);
  }

  th {
    background-color: var(--table-header-bg);
    color: white;
  }

  @media (max-width: 750px) {
    table {
      display: block;
      max-width: fit-content;
      margin: 0 auto;
      overflow-x: auto;
    }
    td {
      min-width: 250px;
    }
  }

  panel {
    max-width: 70%;
    padding: 0.8rem 1rem;
    border: 1px solid;
    border-radius: 5px;
    display: block;
    background-color: var(--root-bg);
  }
  panel.info {
     background-color: var(--info-bg);
     border-color: #4b7ba6; 
  }
  panel.warning {
    background-color: var(--warning-bg);
    border-color: #a68f4b;
  }

</style>
